{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Colec. Track your everything</title>

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/pico.css' %}">
</head>
<body>

<header>
    <h1>Colec</h1>
    <nav>
        <ul>
            <li><a href="/signin">Sign in</a></li>
        </ul>
    </nav>
</header>

<main>
    <section>
        <p>Track your everything.</p>
        <button>Sign up</button>
    </section>
    <section>
        <div>
            <h2>All in one place.</h2>
            <p>Lorem ipsum</p>
        </div>
        <div>
            <h2>Fields you care about.</h2>
            <p>Lorem ipsum</p>
        </div>
        <div>
            <h2>Own your data.</h2>
            <p>Lorem ipsum</p>
        </div>
    </section>
</main>

<footer>
    <p>Colec, Copyright 2023</p>
</footer>

</body>
</html>
