{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Colec. Track your everything</title>

    {% if debug %}
        <link rel="stylesheet" href="{% static 'css/pico.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">

    {% if debug %}
        <script src="{% static 'js/jquery-3.6.3.slim.js' %}" defer></script>
        <script src="{% static 'js/underscore.js' %}" defer></script>
        <script src="{% static 'js/backbone.js' %}" defer></script>
    {% else %}
        <script src="{% static 'js/jquery-3.6.3.slim.min.js' %}" defer></script>
        <script src="{% static 'js/underscore.min.js' %}" defer></script>
        <script src="{% static 'js/backbone.min.js' %}" defer></script>
    {% endif %}
</head>
<body>

<header class="container-fluid">
    <nav>
        <a href="/"><h1>Colec</h1></a>
        <ul>
            <li><a href="#">Sign in</a></li>
        </ul>
    </nav>
</header>

<main class="container-fluid">
    <section id="eyecatch">
        <h2>Track your <span id="everything">everything.</span></h2>
        <a href="#" role="button">Sign up</a>
    </section>
    <section class="grid">
        <article>
            <header><h3>All in one place.</h3></header>
            <p>
                With <em>Colec</em> you can track anything you own. Every
                collection you care about, together in one place, with a
                consistent UI, and easy to share with others.
            </p>
        </article>
        <article>
            <header><h3>Fields you care about.</h3></header>
            <p>
                No more cluttered interfaces. You can fully customize any
                collection, adding and removing fields of any type, such as
                text, number, or dropdown. For more freeform input, you can
                assign arbitrary tags to collection items.
            </p>
        </article>
        <article>
            <header><h3>Own your data.</h3></header>
            <p>
                <em>Colec</em> is opensource, and can be hosted by anyone. Your
                collections can be exported to a JSON format, for later import
                in a different instance, or for use by any external utilities.
            </p>
        </article>
    </section>
</main>

<footer class="container-fluid">
    <p>Colec, Copyright 2023</p>
</footer>

</body>
</html>
