{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Colec. Track your everything</title>

    {% if debug %}
        <link rel="stylesheet" href="{% static 'css/pico.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">

    {% if debug %}
        <script src="{% static 'js/jquery-3.6.3.js' %}" defer></script>
        <script src="{% static 'js/underscore.js' %}" defer></script>
        <script src="{% static 'js/backbone.js' %}" defer></script>
    {% else %}
        <script src="{% static 'js/jquery-3.6.3.min.js' %}" defer></script>
        <script src="{% static 'js/underscore.min.js' %}" defer></script>
        <script src="{% static 'js/backbone.min.js' %}" defer></script>
    {% endif %}
    <script type="module" src="{% static 'web/js/app.js' %}"></script>
</head>
<body>
</body>
</html>
